*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
.input_input03{
    position: relative;
    width: 2rem;
    height: 3rem;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 10px;
    align-content: center;
    outline: none;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all ease-in-out .2s;
}
.input_input03:focus,.input_input03:hover{
    width: 20rem;
    height: 3rem;
    outline: none;
}


.search_icon{
    position: absolute;
    font-size: 20px;
    z-index: 1;
    margin-top: 12px;
    margin-left: 15px;
   
}